# Ambiente virtual
venv/

# Arquivos Python compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Configurações de IDEs
.vscode/
.idea/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.swp
*.bak
*.orig

# Config do dotenv (se usar python-dotenv ou similar)
.env
